Account 0901234
FLBTRUST SHOPPING OUTLET
Capital 300000000
Available Funds 18000000
Finance Funding Institution Hebrew Henchmen 
Creator Name Fred Badger
Commercial registry number
200938186238
Filed August 13th
2009
